body{
	background-color: lightblue;
}
h1{
	text-align: center;
	color: red;
	text-transform: capitalize;
	font-size: 100px;
}
.p1{
	text-indent: 100px;
}
#p2{
	color : red;
}
p.huruf-tebal{
 	font-weight: bold;
}
ul li a{
	color: orange;
}
ol li a{
	color: yellow;
}